.quiz-container{ background: fixed;
background-color: aquamarine;}

.Question1{ background-color: rgb(228, 192, 148);}
.Question2{background-color: azure;}
.Question3{background-color: aquamarine;}
label{background-color: rgb(210, 134, 107);}
    